<div class="container text-center">
  <h1 class="">Calculator</h1>
  <div class="calculator">
    <ul class="list-data">
      <li
        *ngFor="let item of allCalculation | slice : allCalculation.length - 3"
        (click)="pushRes(item.query)"
      >
        {{ item.query }}
      </li>
    </ul>
  </div>

  <div class="calculator">
    <div class="d-flex">
      <input
        type="text"
        [(ngModel)]="result"
        class="form-control bg-white"
        readonly
      />
    </div>

    <div class="buttons mt-3">
      <button
        *ngFor="let button of buttons"
        class="btn text-black"
        [class]="button?.class"
        (click)="onButtonClick(button.value)"
      >
        {{ button.display }}
      </button>
    </div>
  </div>
</div>
